body{
  background-image:url("background.jpg");
  background-size:100%;

}

.frame{
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: black;
  opacity: 70%;

}

.container{
  width: 600px;
  height: 300px;
  margin-left: 35%;
  padding-top: 20px;

}

.logo{
  width: 230px;
  padding-top: 80px;
  margin-left: 70px;
  margin-top: 15px;


}

.logo-text{
  color: #00CC00;
  font-size: 35px;
  position:relative;bottom:20px;
  position:relative;right:50px;
  margin-right:1px;
  padding-right: 3px;
  font-style: solid;
  font-family: arial;

}



.paragrafo{
position:relative;bottom: 50px;
position: relative;right: 120px;
padding: 12px;
margin-left: 250px;
margin-right: 70px;
padding-left: 13%;
background-color:#00CC00;

}

#text1{
margin-left: 190px;
}

.row{
margin-top:3%;
color:white;
padding-left: 10%;
position: relative;bottom:70px;
font-variant: small-caps;
font-family: arial;


}


.first{
  font-size: 25px;

}



.second{
  display: block;
  font-size: 20px;
  content: "\21A6";
}

.third{
  display: block;
  font-size: 20px;
}

.color{
  display:inline-block;
  background-color: orange;
  padding: 13px;
  padding-right: 28%;
  border-radius: 10px;
}

.color2{
  display:inline-block;
  background-color: green;
  padding: 13px;
  padding-right: 50%;
  border-radius: 10px;
}

.color3{
  display:inline-block;
  background-color: red;
  padding: 13px;
  padding-right: 10%;
  border-radius: 10px;
}













}
